.img-container {
    display: inline-block;
    position: relative;

}

.drop {
	background-color:rgb(0 0 0 / 0%);
	border: 2% solid none;
	position: absolute;
	width: 4%;
					
		
}
#drop{
		top: 65%;
		left: 27%;
		z-index: 20;
		height:0%;
	
}
#drop1{
		top: 28%;
		left: 50%;
		z-index: 10;
		height:0%;
	
}

/* Fan	*/

.fan {
	background-color:rgb(0 0 0 / 0%);
	border: 2% solid none;
	position: absolute;
	width: 10%;
					
		
}
#fan{
		top: 34%;
		left: 41.5%;
		z-index: 10;
		height:12%;
	
}







.basin {
	/*clip-path: polygon(60.71% 101%, 93.94% 91.44%, 97.69% 87.1%, 97% 48.87%, 98.71% 45.87%, 98.29% 46.87%, 5% 13.87%, 0% 86.1%, 5.45% 91.44%, 37.29% 100%); */
	background-color:rgb(0 0 0 / 0%);
	border: 2px solid none;
	position: absolute;
	width: 15.8%;
	height: 0%;
	opacity: 0.5;
	
}
#basin{
		bottom: 52.1%;
		left: 38.9%;
		z-index: 40;
	
}
/* container jar	*/

.basin2 {
	background-color:rgb(0 0 0 / 0%);
	border: 2px solid none;
	position: absolute;
	width: 10%;
	height: 0%;
	opacity: 0.5;
	/* clip-path: inset(32% -17% 0% -12% round 37%);	*/
clip-path: polygon(45% 33%, 76% 31%, 94% 26%, 93% 95%, 65% 100%, 44% 100%, 23% 96%, 23% 28%);	
		
}


#basin2{
		bottom: 8%;
		left: 22.5%;
		z-index: 40;
	
}



/* water flow in pipe1	*/

.wpipe {
	background-color:rgb(0 0 0 / 0%);
	border: 2px solid none;
	position: absolute;
	
	
	/* clip-path: inset(32% -17% 0% -12% round 37%);	*/
/*clip-path: polygon(45% 33%, 76% 31%, 94% 26%, 93% 95%, 65% 100%, 44% 100%, 23% 96%, 23% 28%);	*/
		
}


#wpipe{
		position: absolute;
		bottom: 78%;
		left: 74.6%;
		z-index: 40;
		height: 0%;
	width: 1.4%;
	background-color: powderblue;
}

#wpipe2{
	position: absolute;
    top: 13.5%;
    right: 24%;
    z-index: 40;
    width: 0%;
    height: 2%;
    background-color: powderblue;
		/*transform: rotate(270deg);*/
	
}

#wpipe3{
	position: absolute;
	width: 1.2%;
    background-color: powderblue;
	
		top: 15%;
		left: 51%;
		z-index: 100;
		height: 0%;
		
	
}

/* water flow outlet pipe	*/

#wpipe4{
	position: absolute;
	width: 1.2%;
    background-color: powderblue;
	
		top: 58%;
		left: 46%;
		z-index: 40;
		height: 0%;
		
	
}

#wpipe5{
		top: 63%;
		right: 54%;
		z-index: 40;
		height: 2%;
		position: absolute;
	width: 0%;
    background-color: powderblue;
	
}

#wpipe6{
		top: 62.7%;
		right: 67%;
		z-index: 40;
		height: 2%;
		position: absolute;
	width: 0%;
    background-color: powderblue;
	
}
#wpipe7{
		top: 62.3%;
		left: 28.2%;
		z-index: 40;
		height: 0%;
		position: absolute;
	width: 1.2%;
    background-color: powderblue;
	
}



.gas {
	background-color:rgb(0 0 0 / 0%);
	border: 2% solid none;
	position: absolute;
			
		
}
#gas{
	top: 9.8%;
    right: 75%;
    z-index: 10;
	height: 10%;
	width: 0%;
	position: absolute;
	transform: rotate(270deg);
	
}
/* gas bubble	*/

	


#gas1{
		bottom: 47%;
		left: 43.3%;
		z-index: 30;
		height: 0%;
		transform: rotate(360deg);
		width: 3%;
	
}

#gas2{
		bottom: 47%;
		left: 45.1%;
		z-index: 30;
		height: 0%;
		transform: rotate(360deg);
		width: 3%;
	
}

#gas3{
		bottom: 47%;
		left: 47%;
		z-index: 30;
		height: 0%;
		transform: rotate(360deg);
		width: 3%;
	
}


/*-----------------------------for vulv button to run program------------------------*/

.button {
  /*background-image: url(images/cancel.png); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:rgb(0 0 0 / 0%);
  /* put the height and width of your image here */
  height: 59px;
  width: 75px;
  border: none;
  position: absolute;
  top: 54.5%;
  left: 32.1%;
  z-index: 100;
}

button span {
  display: none;
}


.gbutton {
  /*background-image: url(images/cancel.png); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color:rgb(0 0 0 / 0%);
  /* put the height and width of your image here */
  height: 59px;
  width: 75px;
  border: none;
  position: absolute;
  top: 45.4%;
  left: 58.8%;
  z-index: 100;
}

button span {
  display: none;
}










/*-----------------------------for drop------------------------*/
.dflow{
	animation:dflow 14s linear forwards;	
}

@keyframes dflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 23%;}/*background-color:#0db4fd}*/
}
/*---------------------------------------------------------------------*/

/*-----------------------------for dropstop------------------------*/
.dflowstop{
	animation:dflowstop 14s linear forwards;	
}

@keyframes dflowstop {
  from {height: 23%;}/*background-color:white}*/
  to   {height: 0%;}/*background-color:#0db4fd}*/
}
/*---------------------------------------------------------------------*/

/*-----------------------------for open gas------------------------*/
.uflow{
	animation:uflow 4s linear forwards;	
}

@keyframes uflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 11%;}/*background-color:#0db4fd}*/
}

/*-----------------------------for indicator------------------------*/
.iflow{
	animation:iflow 4s linear forwards;	
}

@keyframes iflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 7%;}/*background-color:#0db4fd}*/
}



/*-------------------------------for upper tank--------------------------------------*/

.bflow{
	animation:bflow 24s linear forwards;	
}

@keyframes bflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 30%;}/*background-color:#0db4fd}*/
}
/*---------------------------------------------------------------------*/


/*-------------------------------for lower tank--------------------------------------*/

.lbflow{
	animation:lbflow 40s linear forwards;	
}

@keyframes lbflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 24%;}/*background-color:#0db4fd}*/
}
/*---------------------------------------------------------------------*/



/*-----------------------------for gas release upper pipe------------------------*/
.gflow{
	animation:gflow 12s linear forwards;	
}

@keyframes gflow {
  from {width: 0%;}/*background-color:white}*/
  to   {width: 5%;}/*background-color:#0db4fd}*/
}


/*-----------------------------for gas stop upper pipe------------------------
.gflowstop{
	animation:gflowstop 15s linear forwards;	
}

@keyframes gflowstop {
  from {width: 12%;}/*background-color:white}
  to   {width: 0%;}/*background-color:#0db4fd}
} */


/*-----------------------------for gas release lower pipe------------------------*/
.gflow1{
	animation:gflow1 12s linear forwards;	
}

@keyframes gflow1 {
  from {height: 1%;}/*background-color:white}*/
  to   {height: 7%;}/*background-color:#0db4fd}*/
}


/*-----------------------------for bubble release------------------------*/
.bubflow{
	animation:bubflow 12s linear forwards;	
}

@keyframes bubflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 12%;}/*background-color:#0db4fd}*/
}

/*-----------------------------Wpipe up------------------------*/
.wpuflow{
	animation:wpuflow 4s linear forwards;	
}

@keyframes wpuflow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 8.2%;}/*background-color:#0db4fd}*/
}


/*-----------------------------Wpipe2 up------------------------*/
.wpu2flow{
	animation:wpu2flow 4s linear forwards;	
}

@keyframes wpu2flow {
  from {width: 0%;}/*background-color:white}*/
  to   {width: 25%;}/*background-color:#0db4fd}*/
  }

/*-----------------------------Wpipe3 up------------------------*/
.wpu3flow{
	animation:wpu3flow 4s linear forwards;	
}

@keyframes wpu3flow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 6%;}/*background-color:#0db4fd}*/
}
/*-----------------------------Wpipe4 up------------------------*/
.wpu4flow{
	animation:wpu4flow 4s linear forwards;	
}

@keyframes wpu4flow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 7%;}/*background-color:#0db4fd}*/
}
/*-----------------------------Wpipe5 up------------------------*/
.wpu5flow{
	animation:wpu5flow 4s linear forwards;	
}

@keyframes wpu5flow {
  from {width: 0%;}/*background-color:white}*/
  to   {width: 9%;}/*background-color:#0db4fd}*/
}
/*-----------------------------Wpipe6 up------------------------*/
.wpu6flow{
	animation:wpu6flow 4s linear forwards;	
}

@keyframes wpu6flow {
  from {width: 0%;}/*background-color:white}*/
  to   {width: 5%;}/*background-color:#0db4fd}*/
}
/*-----------------------------Wpipe7 up------------------------*/
.wpu7flow{
	animation:wpu7flow 4s linear forwards;	
}

@keyframes wpu7flow {
  from {height: 0%;}/*background-color:white}*/
  to   {height: 8%;}/*background-color:#0db4fd}*/
}







